snippet disable-prettier-range-format Disable Prettier Range Format
  <!-- prettier-ignore-start -->
  $0
  <!-- prettier-ignore-end -->

snippet doctoc Add Doctoc Table Of Content
	<!-- START doctoc -->
	<!-- END doctoc -->

snippet markdown-toc Add Markdown-TOC Table Of Content
	<!-- toc -->
	<!-- tocstop -->
