snippet mise-config
  [schema]
  path = "https://raw.githubusercontent.com/jdx/mise/refs/heads/main/schema/mise.json"
  enabled = true

snippet mise-task
  [schema]
  path = "https://raw.githubusercontent.com/jdx/mise/refs/heads/main/schema/mise-task.json"
  enabled = true

snippet mise-plugin
  [schema]
  path = "https://raw.githubusercontent.com/jdx/mise/refs/heads/main/schema/mise.plugin.json"
  enabled = true
