snippet ignore-deepsource Ignore Deepsource Rules
  skipcq: ${0:Rule, Rule,...}

snippet vim-ft Vim Set Filetype for A File
	vim:ft=${0:Filetype}

snippet vim-ffu Vim Set Fileformat to Unix for A File
	vim:fileformat=unix

snippet vim-set
  vim:set ${0:Option}=${1:Value}:

snippet vim-sh Vim Set Options for Shell scripting
	vim:set fileformat=unix filetype:sh

snippet vim-bash Vim Set Options for Bash scripting
	vim:set fileformat=unix filetype:bash
