snippet init
  feat: initial commit

snippet bump-version
	chore(version): bump ${1:major}.${2:minor}.${3:patch}

snippet release
  chore(release): ${1:major}.${2:minor}.${3:patch}

snippet revert
	revert: ${1:title}

snippet license
	chore(license): use ${1:license}

snippet bc
  BREAKING CHANGE

snippet bcs
  BREAKING CHANGES

snippet skip-release-semantic-release Skip release for Semantic Release
  [skip release]
